<div class="carrucelpjs">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <h3>Nombre pj</h3>
                <h4>Clase</h4>
              </div>
              <div class="product-img">
                <a href=""
                  ><img src="../../../../../assets/img/LittleMoon.jpg" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <h3>Nombre pj</h3>
                <h4>Clase</h4>
              </div>
              <div class="product-img">
                <a href=""
                  ><img src="../../../../../assets/img/LadyAriel.jpg" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="icons">
              <i class="fa-solid fa-circle-arrow-left"></i>
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
              <div class="product-txt">
                <h3>Nombre pj</h3>
                <h4>Clase</h4>
              </div>
              <div class="product-img">
                <a href=""
                  ><img src="../../../../../assets/img/LadyBarter.jpg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
